.main-page {
  margin-top: 24px;
  padding-top: 16px;
  background: white;
}

.bi-chevron-right.collapsed {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  position: absolute;
}

.bi-chevron-right {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
}

.card-name {
  font-size: 1.5em;
}

.card-text {
  border-left: 1px solid #888;
  padding-left: 8px;
}

.card-tooltip {
  box-shadow: 0px 0px 4px grey;
  max-width: 400px;
}

.form-group {
  padding: 8px;
}

.padding-left-16 {
  padding-left: 16px;
}

.App {
  background: lightgrey;
}

.faction-button-image {
  height: 12px;
  width: 12px;
}

.card-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 10px 10px 5px #888888;
}

.deck-list-item-faction-icon {
  height: 64px;
  width: 64px;
}

.star-wars-font {
  font-family: 'Star Jedi V2', sans-serif;
}

.home-page-title {
  font-family: 'Star Jedi V2', sans-serif;
}

.normal-font {
  font-family: var(--bs-body-font-family);
}
